.card .thumbnail {
    width: 150px;
    height:150px;
    float: left;
    position: relative;
    display: block;

    padding: 4px;
    margin-right: 10px;
    margin-bottom: 10px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border 0.2s ease-in-out;
}
.card .thumbnail .image{
    height: 100%;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card .thumbnail img{
    width:100%;
    height: auto;
}
.card .thumbnail .btn-delete {
    position: absolute;
    top: -15px;
    right: -10px;
    color: #dd4b39;
    font-size: 24px;
    text-shadow: 1px 1px 1px #4e4e4e;
    cursor: pointer;
}
.card .thumbnail .btn-link {
    position: absolute;
    bottom: 9px;
    right: 12px;
    color: #fff !important;
    font-size: 16px;
    text-shadow: 1px 1px 1px #4e4e4e;
    cursor: pointer;
}
.card .thumbnail .btn-delete:hover {
    color: #c9302c;
}
